<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="vue.min.js"></script>
    <link rel="stylesheet" href="w3.css">
    <title>Jiasiang Study Website</title>
</head>

<body>
    <div id="app" >
        <div :key="name" class="w3bar">
            <div class="w3button w3bar-item" v-for="(charData, index) in structuredImages" @click="clickUnit(index)">
                <h3> {{ charData.name }} </h3>
                <img :src="charData.main.url" :alt="charData.main.name" style="width: auto;height: 100px;">
            </div>
        </div>
        <hr>
        <div v-for="(charData, name) in structuredImages" :key="name">
            <table v-show="charData.isShow">
                <tr>
                    <td rowspan="2">
                        <img :src="charData.main.url" :alt="charData.main.name">
                    </td>
                    <td v-for="(item, index) in charData.baseSkills">
                        <img :key="' base-' + name + index" :src="item.url" :alt="item.name">
                    </td>
                </tr>
                <tr>
                    <td v-for="(item, index) in charData.uniqueSkills">
                        <img :key="'base-' + name + index" :src="item.url" :alt="item.name">
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <script>
        new Vue({
            el: '#app',
            data: {
                structuredImages: [],
                BASE_IMAGE_PATH: '角色/',
                METADATA_URL: '角色.json'
            },
            methods: {
                clickUnit: function (index) {
                    var size = this.structuredImages.length;
                    console.log(size);
                    for (var i = 0; i < size; i++) {
                        this.structuredImages[i].isShow = false;
                    }
                    this.structuredImages[index].isShow = true;
                },
                /**
                 * 根據檔名 (filename) 將圖片分類到結構化的物件中。
                 */
                classifyAndStructure: function (charName) {
                    const charStructure = {
                        name: charName,
                        main: null,
                        baseSkills: [],
                        uniqueSkills: [],
                        isShow: false
                    };

                    const fullPath = this.BASE_IMAGE_PATH + charName + '/';
                    charStructure.main = { url: fullPath + 'main.png', name: 'main.png' };
                    charStructure.baseSkills.push({ url: fullPath + 'skill_base_01.png', name: 'skill_base_01.png' });
                    charStructure.baseSkills.push({ url: fullPath + 'skill_base_02.png', name: 'skill_base_02.png' });
                    charStructure.baseSkills.push({ url: fullPath + 'skill_base_03.png', name: 'skill_base_03.png' });
                    charStructure.baseSkills.push({ url: fullPath + 'skill_base_04.png', name: 'skill_base_04.png' });
                    charStructure.uniqueSkills.push({ url: fullPath + 'skill_unique_01.png', name: 'skill_unique_01.png' });
                    charStructure.uniqueSkills.push({ url: fullPath + 'skill_unique_02.png', name: 'skill_unique_02.png' });
                    charStructure.uniqueSkills.push({ url: fullPath + 'skill_unique_03.png', name: 'skill_unique_03.png' });
                    charStructure.uniqueSkills.push({ url: fullPath + 'skill_unique_04.png', name: 'skill_unique_04.png' });

                    return charStructure;
                },

                /**
                 * 從 GitHub Pages 載入 metadata.json 檔案。
                 */
                loadMetadata: async function () {
                    this.structuredImages = [];
                    try {
                        // 1. 載入 JSON 檔案
                        const response = await fetch(this.METADATA_URL);
                        if (!response.ok) {
                            throw new Error(`無法載入 metadata.json (狀態碼: ${response.status})`);
                        }
                        const metadata = await response.json();

                        // 2. 遍歷 metadata 並建構圖片結構
                        const tempImages = [];
                        metadata.forEach(char => {
                            const charName = char.name;
                            const structure = this.classifyAndStructure(charName);
                            tempImages.push(structure);
                        });

                        this.structuredImages = tempImages;
                        console.log('圖片資料結構化載入完成。');

                    } catch (error) {
                        this.errorMessage = error.message;
                        console.error("載入 Metadata 失敗:", error);
                    } finally {
                        this.isLoading = false;
                    }
                }
            },
            mounted: function () {
                // 在 Vue 實例啟動時，立即載入資料
                this.loadMetadata();
            }
        });
    </script>
</body>

</html>