<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="vue.min.js"></script>
    <link rel="stylesheet" href="w3.css">
    <title>Jiasiang Study Website</title>
</head>

<body>
    <div id="app" class="w3border">
        <div v-for="(charData, name) in structuredImages" :key="name" class="character-card">
            <div class="w3bar">
                <h1 class='w3bar-item'> {{ name }} </h1>
                <div class="w3button w3black w3bar-item" @click="charData.isShow=true" v-show="!charData.isShow">Open
                </div>
                <div class="w3button w3black w3bar-item" @click="charData.isShow=false" v-show="charData.isShow">Close
                </div>
            </div>
            <table v-show="charData.isShow">
                <tr>
                    <td rowspan="2">
                        <img :src="charData.main.url" :alt="charData.main.name">
                    </td>
                    <td v-for="(item, index) in charData.baseSkills">
                        <img :key="' base-' + name + index" :src="item.url" :alt="item.name">
                    </td>
                </tr>
                <tr>
                    <td v-for="(item, index) in charData.uniqueSkills">
                        <img :key="'base-' + name + index" :src="item.url" :alt="item.name">
                    </td>
                </tr>
            </table>
            <hr>
        </div>
    </div>


    <script>
        new Vue({
            el: '#app',
            data: {
                structuredImages: {},
                isLoading: false,
                errorMessage: null,
                // 圖片根目錄，基於 GitHub Pages 的相對路徑
                BASE_IMAGE_PATH: '角色/',
                // JSON 索引檔案的路徑
                METADATA_URL: '角色.json'
            },
            methods: {
                /**
                 * 根據檔名 (filename) 將圖片分類到結構化的物件中。
                 */
                classifyAndStructure: function (charName) {
                    const charStructure = {
                        main: null,
                        baseSkills: [],
                        uniqueSkills: [],
                        isShow: false
                    };

                    const fullPath = this.BASE_IMAGE_PATH + charName + '/';
                    charStructure.main = { url: fullPath + 'main.png', name: 'main.png' };
                    charStructure.baseSkills.push({ url: fullPath + 'skill_base_01.png', name: 'skill_base_01.png' });
                    charStructure.baseSkills.push({ url: fullPath + 'skill_base_02.png', name: 'skill_base_02.png' });
                    charStructure.baseSkills.push({ url: fullPath + 'skill_base_03.png', name: 'skill_base_03.png' });
                    charStructure.baseSkills.push({ url: fullPath + 'skill_base_04.png', name: 'skill_base_04.png' });
                    charStructure.uniqueSkills.push({ url: fullPath + 'skill_unique_01.png', name: 'skill_unique_01.png' });
                    charStructure.uniqueSkills.push({ url: fullPath + 'skill_unique_02.png', name: 'skill_unique_02.png' });
                    charStructure.uniqueSkills.push({ url: fullPath + 'skill_unique_03.png', name: 'skill_unique_03.png' });
                    charStructure.uniqueSkills.push({ url: fullPath + 'skill_unique_04.png', name: 'skill_unique_04.png' });

                    return charStructure;
                },

                /**
                 * 從 GitHub Pages 載入 metadata.json 檔案。
                 */
                loadMetadata: async function () {
                    this.isLoading = true;
                    this.errorMessage = null;
                    this.structuredImages = {};

                    try {
                        // 1. 載入 JSON 檔案
                        const response = await fetch(this.METADATA_URL);
                        if (!response.ok) {
                            throw new Error(`無法載入 metadata.json (狀態碼: ${response.status})`);
                        }
                        const metadata = await response.json();

                        // 2. 遍歷 metadata 並建構圖片結構
                        const tempImages = {};
                        metadata.forEach(char => {
                            const charName = char.name;
                            const structure = this.classifyAndStructure(charName);
                            tempImages[charName] = structure;

                        });

                        this.structuredImages = tempImages;
                        console.log('圖片資料結構化載入完成。');

                    } catch (error) {
                        this.errorMessage = error.message;
                        console.error("載入 Metadata 失敗:", error);
                    } finally {
                        this.isLoading = false;
                    }
                }
            },
            mounted: function () {
                // 在 Vue 實例啟動時，立即載入資料
                this.loadMetadata();
            }
        });
    </script>
</body>

</html>